.Square{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 2px;
    width:2px;
    display:flex;
    border-style: solid;
    border-width: thin;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Row{
    display:flex;
}

/* show gridlines */
.Row div:nth-child(3n){
    border-right: solid;
}
.Row div:nth-child(1){
    border-left: solid;
}
.Board .Row:nth-child(3n){
    border-bottom: solid;
}
.Board .Row:nth-child(1){
    border-top: solid;
}

.Board {
    display: flex;
    flex-wrap: wrap;
    max-width:580px;
    justify-content: center;
    text-align: center;
}