.Square{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 2px;
    width:2px;
    display:flex;
    border-style: solid;
    border-width: thin;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 40px;
    border-color: black;
}

.Row{
    display:flex;
}

/* show gridlines */
.Row div:nth-child(3n){
    border-right: solid;
    border-color: black;
}
.Row div:nth-child(1){
    border-left: solid;
    border-color: black;
}
.Board .Row:nth-child(3n){
    border-bottom: solid;
    border-color: black;
}
.Board .Row:nth-child(1){
    border-top: solid;
    border-color: black;
}

/* highlight squares */
.Board .Row:nth-child(-n+3) .Square:nth-child(n+4):nth-child(-n+6){
    background-color: rgb(224, 235, 224);
}
.Board .Row:nth-child(n+7):nth-child(-n+9) .Square:nth-child(n+4):nth-child(-n+6){
    background-color: rgb(224, 235, 224);
}
.Board .Row:nth-child(n+4):nth-child(-n+6) .Square:nth-child(n+1):nth-child(-n+3){
    background-color: rgb(224, 235, 224);
}
.Board .Row:nth-child(n+4):nth-child(-n+6) .Square:nth-child(n+7):nth-child(-n+9){
    background-color: rgb(224, 235, 224);
}

.Board {
    display: flex;
    flex-wrap: wrap;
    max-width:580px;
    justify-content: center;
    text-align: center;
}

.OptionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    padding:10px;
}

.Option{
    display:flex;
    height: 30px;
    width:30px;
    border: solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2px;
    font-size: 25px;
}

.Player{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PlayerIcon{
    position: relative;
    margin-left: 10px;
    top:5px;
} 

.PlayerContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
